body {
    background-image:image("E:\Hacksprint\importance-of-feedback-in-the-workplace.png");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #050505;
    padding: 20px;
    text-align: center;
}

main {
    background-color: #747474;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

form {
     margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea,
input[type="text"],
input[type="email"],
button {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #030303;
}

#feedbackList {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
